
.exemples {
	display: grid;									/* Disposition en grille CSS */
	grid-template-columns: 1fr 2fr 1fr;				/* Tailles des colonnes : chaque ligne contient 3 cellules */
	row-gap: 0px;									/* Espacement entre les lignes */
	column-gap: 0px;								/* Espacement entre les colonnes */
	grid-auto-rows: minmax(100px, auto);         	/* Tailles maximum et minimum des lignes : une ligne ne peut pas faire moins de 100px 
														même si la largeur de l'écran est inférieure (on ne verra plus le bout de la ligne.
														Les largeurs de cellules s'étireront et s'espaceront automatiquement sans limite max */                                                 
} 
.carrousel {
	grid-column: 2;
	grid-row: 2;
	width: 85vw;
    height: 25vh;
	padding: 0px;
    margin : 40px 0px;
	overflow: hidden;  
	position: relative;
}

.images15 {
	width: 85vw;
	height: 25vh;
	left:0;
}

.images15 img{
	width: 85vw;
	height: 25vh;
}

.image15 {
	top:0;
	left:0;
	z-index: 0;
	position: absolute;
}
.images152 {
	width: 85vw;
	height: 25vh;
	left:0;
}

.images152 img{
	width: 85vw;
	height: 25vh;
}

.image152 {
	top:0;
	left:0;
	z-index: 0;
	position: absolute;
}
.images153 {
	width: 85vw;
	height: 25vh;
	left:0;
}

.images153 img{
	width: 85vw;
	height: 25vh;
}

.image153 {
	top:0;
	left:0;
	z-index: 0;
	position: absolute;
}
.images154 {
	width: 85vw;
	height: 25vh;
	left:0;
}

.images154 img{
	width: 85vw;
	height: 25vh;
}

.image154 {
	top:0;
	left:0;
	z-index: 0;
	position: absolute;
}
.images155 {
	width: 85vw;
	height: 25vh;
	left:0;
}

.images155 img{
	width: 85vw;
	height: 25vh;
}

.image155 {
	top:0;
	left:0;
	z-index: 0;
	position: absolute;
}
.images156 {
	width: 85vw;
	height: 25vh;
	left:0;
}

.images156 img{
	width: 85vw;
	height: 25vh;
}

.image156 {
	top:0;
	left:0;
	z-index: 0;
	position: absolute;
}